<div class="container scrollwrapper2"  id="scrollframe">
    <div class="scroller">
        <div class="row">

            <table class="table table-hover">

                <tbody>
                    <tr>
                        <td width="200">نام اردوگاه</td>
                        <td>
                            <div class="field">
                                <input type="text" ng-required ng-maxlength="200" ng-model="camp.name" />
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td width="200"> مساحت اردوگاه</td>
                        <td>
                            <div class="field">
                                <input type="text" ng-required ng-maxlength="200" ng-model="camp.areaSize" />
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>استان</td>
                        <td>

                            <select id="item" ng-model="item" ng-change="getCities(item)">
                                <option value=''>انتخاب کنید...</option>
                                <option ng-repeat="item in provinces" value="{{item.id}}">{{item.name}}</option>

                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>شهرستان</td>
                        <td>
                           
                            <select id="city" ng-model="camp.address.city" ng-options="city.name for city in cities track by city.id">
                                <option value=''>انتخاب کنید...</option>
                                <!--<option value="{{city}}">{{city }}</option>-->
                            </select>
                 
                        </td>
                    </tr>
                    <tr>
                        <td>آدرس</td>
                        <td>

                            <p class="clearfix">آدرس کامل</p>
                            <textarea ng-model="camp.address.fullAddress" ng-change="refreshScrollbar()"></textarea>


                            <p class="clearfix">منطقه </p>
                            <input type="text" ng-model="camp.address.state" />

                            <p class="clearfix">کد پستی </p>
                            <input type="text" ng-model="camp.address.zip" />

                        </td>
                    </tr>
                    <tr>
                        <td>تلفن </td>
                        <td>
                            <button class="btn btn-link fa fa-plus bg-primary" ng-click="addPhone()"></button>
                            <div ng-repeat="phone in camp.phones">
                                <button class="btn btn-link fa fa-minus bg-danger" ng-click="minusPhone($index)"></button>
                                <input type="text" ng-model="phone.phoneNumber" />
                            </div>

                        </td>
                    </tr>
                <tr>
                    <td>موقعیت جغرافیایی</td>
                    <td>
                        <div style="width: 480px; height: 300px" id="map1"></div>
                        <button ng-click="setMaps()" class="fa-map-marker fa btn btn-link fa-location-arrow"> </button>
                        <input type="text" ng-model="camp.address.longitude"/>
                        <input type="text" ng-model="camp.address.latitude"/>
                    </td>
                </tr>
                    <tr>
                        <td> گالری اردوگاه</td>
                        <td>
                            <input style="width: 480px;" type="text" id="remoteGalleries" multiple ng-model="camp.galleries" custom-select2 tags="tagsList" ng-change="galleryOnChange()" />
                            <!--<input type="hidden" id="remoteGalleries" name='input'/>-->
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-success" ng-click="addNewCamp(camp)">ثبت</button>
                            <!--<button ng-if="isEdit == false" ng-click="editModeCamp()" class="btn btn-default">ویرایش</button>-->
                            <!--<button ng-if="isEdit == true" class="btn btn-success">ویرایش</button>-->
                            <button   ng-click="cancelEditModeCamp()" class="btn btn-danger">انصراف</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
