 <div class="container scrollwrapper2" c-iscroll>

    <div class="row">

        <table class="table table-hover">

            <tbody>
                <tr>
                    <td width="100"> مجوز دسترسی</td>
                    <td>
                        <div class="field" style="width: 300px">
                            <multi-select2 ajax-url="'/api/AccountApi/GetRoles'" min-length="0" selectedfn="selectedRolefn" removedfn="removedRolefn" user-id=""></multi-select2>

                        </div>

                    </td>
                </tr>
                <tr>
                    <td width="100">پست سازمانی </td>
                    <td>
                        <div class="field" style="width: 300px">
                            <multi-select2 ajax-url="'/api/DepartmentDeptRole/GetByName'" min-length="3" selectedfn="selectedDeptRolefn" removedfn="removedDeptRolefn"></multi-select2>

                        </div>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
