 <div class="form-group" ng-form name="accountForm">


    <div class="container scrollwrapper2" c-iscroll>
        <div>
            <div class="row">

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td width="100">نام کاربری </td>
                            <td>
                                <div class="field"  >
 
                                    <div class="help-block"  >
                                        <b>{{resetPassAccount.userName}}</b>
                                    </div>
                                </div>

                            </td>
                        </tr>
 

                        <tr>
                            <td width="100">کلمه عبور </td>
                            <td>
                                <div class="field">
                                    <input type="password" ng-required ng-maxlength="200" ng-model="resetPassAccount.password" />
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td width="100">تکرار کلمه عبور</td>
                            <td>
                                <div class="field">
                                    <input type="password" ng-required ng-maxlength="200" ng-model="resetPassAccount.confirmPassword" />
                                </div>

                            </td>
                        </tr>
 
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-success"
                                       
                                        ng-click="resetPass(resetPassAccount)">
                                    تغییر کلمه عبور
                                </button>
 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
