
<div ng-controller="backgroundImagesListCtrl" class="container  " style="background-color: rgb(231, 231, 231); width: 700px;margin: 0px">

    <div class="row list-group " c-iscroll >
        <div class="item  col-xs-4 col-lg-4 mouse-hover list-group-item-block" ng-click="setBackground(photo)" ng-repeat="photo in imagesList">
            <div class="thumbnail thumbnail2">
                <a class="gallery-button  group list-group-image">
                    <img ng-src="{{photo}}" class="thumbnail-img" alt="Alternate Text" width="200" height="200" />
                </a>
            </div>

        </div>

    </div>
    </div>