

<div ng-controller="appSettingsCtrl" >
    <div c-iscroll style=" width: 660px; height: 541px; margin: 0px;" class="row panel-bar">
        <ul class="list-inline">
            <li class="text-center">
                <a ng-click="openImageWindow()">
                    <img src="/Content/Icons/Desktop-icon.png" alt="Alternate Text" width="50" height="50" class="img-thumbnail" />

                    <p>
                        <small class="badge "> پس زمینه</small>
                    </p>
                </a>
            </li>
            <li class="text-center">
                <a ng-click="">
                    <img src="/Content/Icons/Games-icon.png" alt="Alternate Text" width="50" height="50" class="img-thumbnail" />
                    <p>
                        <small class="badge ">رنگ پوسته</small>
                    </p>
                </a>
            </li>
            <li>
                <a ng-click="">
                    <img src="/Content/Icons/smsconfig.png" alt="Alternate Text" width="50" height="50" class="img-thumbnail" />
                    <p>
                        <small class="badge ">تنظیمات پیامک</small>
                    </p>
                </a>
            </li>

        </ul>
    </div>
</div>
